---
import BentoCard from "@/components/cards/BentoCard.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Strong from "@/components/Strong.astro";
import Image from "astro/components/Image.astro";

const { currentLocale } = Astro;
---

<SectionContainer title="About me">
    <div
        class="grid grid-cols-1 md:grid-cols-3 grid-rows-9 md:grid-rows-3 gap-10 p-5"
    >
        {
            currentLocale === "es" && (
                <Fragment>
                    <BentoCard
                        classes="col-span-2 md:col-span-1 row-span-2"
                        title="Sobre mi"
                    >
                        <p class="text-lg p-4">
                            M谩s de 4 a帽os de experiencia como
                            <Strong> desarrollador web </Strong>, creando
                            soluciones a traves del software . Me desenvuelvo
                            mejor en entornos colaborativos, donde el
                            <Strong>trabajo en equipo</Strong>, el
                            <Strong>liderazgo</Strong> y la
                            <Strong>comunicaci贸n</Strong>
                            son clave para obtener grandes resultados.
                        </p>
                        <p class="text-lg p-4">
                            Valoro el feedback, y disfruto compartir
                            conocimientos mientras aprendo de quienes me rodean.
                            Asumo la <Strong>responsabilidad</Strong>
                            de tomar decisiones que impulsen los proyectos,
                            siempre buscando el equilibrio entre eficiencia,
                            calidad y el crecimiento del equipo.
                        </p>
                    </BentoCard>
                    <BentoCard
                        classes="md:col-span-2 md:row-span-2 relative"
                        title="Hobbies y pasatiempos"
                    >
                        <p class="text-lg p-4">
                            Fuera del c贸digo, disfruto pasar mi tiempo libre
                            manejando <Strong>moto</Strong> y explorando todo lo
                            relacionado con este mundo, desde la mec谩nica hasta
                            las rutas y la sensaci贸n de libertad en la
                            carretera. Tambi茅n me apasiona el
                            <Strong>baloncesto</Strong>, ya sea jugando un
                            partido o siguiendo la NBA. Adem谩s, los
                            <Strong>videojuegos</Strong> han sido parte de mi
                            vida desde que tengo memoria, no solo como
                            entretenimiento, sino tambi茅n como una forma de
                            conectar con otras personas y explorar nuevas
                            historias y mundos virtuales.
                        </p>
                        <div class="flex justify-between relative overflow-hidden">
                            <img
                                src="carretera.jpg"
                                alt="Control"
                                class="w-full h-60 opacity-55"
                            />
                            <img
                                src="moto.png"
                                alt="Moto"
                                class="size-20 object-contain absolute right-1 bottom-10 moto opacity-75"
                            />
                        </div>
                    </BentoCard>
                    <BentoCard
                        classes="md:col-span-2 md:row-span-2"
                        title="Ubicaci贸n"
                    >
                        <p class="text-2xl pl-10 pt-10">Actualmente vivo en:</p>
                        <strong class="text-3xl pl-10">
                            Tijuana, Baja California
                        </strong>
                    </BentoCard>
                    <BentoCard
                        classes="md:col-span-1 md:row-span-2"
                        title="Datos extra"
                    >
                        <span class="text-3xl inline-block pl-10">
                            Idiomas:
                        </span>
                        <span class="text-2xl block pt-2 pl-14">
                            Espa帽ol 拆
                        </span>
                        <span class="text-2xl block pt-2 pl-14">Ingl茅s 吼</span>
                    </BentoCard>
                </Fragment>
            )
        }
    </div>
</SectionContainer>

<style>
    .moto {
        animation: move 5s ease-in infinite; /* 2s animaci贸n + 5s pausa */
    }

    @keyframes move {
        0% {
            transform: translateX(120%);
        }
        28.5% {
            /* (2s / 7s) * 100 = 28.5% */
            transform: translateX(-1000%);
        }
        100% {
            transform: translateX(
                -1000%
            ); /* Mantenerse quieto los 5s restantes */
        }
    }
</style>
