---
import BentoCard from "@/components/cards/BentoCard.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { ABOUT_ME } = i18n;
---

<SectionContainer title="About me">
    <div class="grid grid-cols-3 grid-rows-3 gap-10 p-5 border">
        <BentoCard classes="col-span-2 row-span-3" title={ABOUT_ME.bento1Title}>
            <p class="text-xl p-4">{ABOUT_ME.bento1Description}</p>
            <p class="text-xl p-4">{ABOUT_ME.bento1Description2}</p>
        </BentoCard>
        <!-- <BentoCard
            classes="col-span-2 row-span-2"
            title={ABOUT_ME.bento2Title}
        /> -->
    </div>
</SectionContainer>
