<div
    class="absolute pointer-events-none animate-fade-in bg-ambientLight left-0 top-0 h-[1380px] w-[560px] rounded-full translate-y-[-350px] rotate-[-45deg]"
>
</div>
<div
    class="absolute pointer-events-none animate-fade-in bg-ambientLight3 left-0 top-0 h-[1380px] w-[240px] rounded-full translate-y-[-70%] translate-x-[-180%] rotate-[-45deg]"
>
</div>
<div
    class="absolute pointer-events-none animate-fade-in bg-ambientLight2 left-0 top-0 h-[1380px] w-[240px] rounded-full translate-y-[-50%] translate-x-[5%] rotate-[-45deg]"
>
</div>

<div
    class="absolute pointer-events-none animate-fade-in bg-ambientLight right-0 top-0 h-[1380px] w-[560px] rounded-full translate-y-[-350px] rotate-[45deg]"
>
</div>
<div
    class="absolute pointer-events-none animate-fade-in bg-ambientLight3 right-0 top-0 h-[1380px] w-[240px] rounded-full translate-y-[-70%] translate-x-[180%] rotate-[45deg]"
>
</div>
<div
    class="absolute pointer-events-none animate-fade-in bg-ambientLight2 right-0 top-0 h-[1380px] w-[240px] rounded-full translate-y-[-50%] translate-x-[-5%] rotate-[45deg]"
>
</div>

<style>
    .bg-ambientLight {
        background-image: radial-gradient(
            68.54% 68.72% at 55.02% 31.46%,
            hsla(0, 0%, 85%, 0.08) 0,
            hsla(0, 0%, 55%, 0.02) 50%,
            hsla(0, 0%, 45%, 0) 80%
        );
    }

    .bg-ambientLight3 {
        background-image: radial-gradient(
            50% 50% at 50% 50%,
            hsla(0, 0%, 85%, 0.04) 0,
            hsla(0, 0%, 45%, 0.02) 80%,
            transparent 100%
        );
    }

    .bg-ambientLight2 {
        background-image: radial-gradient(
            50% 50% at 50% 50%,
            hsla(0, 0%, 85%, 0.06) 0,
            hsla(0, 0%, 45%, 0.02) 80%,
            transparent 100%
        );
    }
</style>
