---
interface Props {
    href: string;
    icon: string;
    tooltip: string;
}
const { href, icon, tooltip } = Astro.props;
---

<a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    class="p-3 rounded-lg hover:bg-slate-800 inline-block z-10"
    data-tooltip={tooltip}
>
    <img src={icon} alt={icon} />
</a>
